---
import "../styles/reset.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stellanga</title>
  </head>
  <body
    class="flex flex-col h-screen bg-white dark:bg-gray-900 dark:text-gray-200"
  >
    <div class="flex flex-col flex-grow items-center justify-center p-6">
      <p class="pb-4 max-w-lg">
        Oh no! You've stumbled upon a page that doesn't exist.
      </p>
    </div>
  </body>
</html>
